@import "tailwindcss";
@import "./tailwindConfig.css";

@font-face {
    font-display: swap;
    font-family: "Ethnocentric";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Ethnocentric-Regular.otf);
}

@font-face {
    font-display: swap;
    font-family: "LemonMilk";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Roboto-Regular.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    color: #eeeeee;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}

::selection {
    background: #bceb21; /* WebKit/Blink Browsers */
    color: black;
}
::-moz-selection {
    background: #bceb21; /* Gecko Browsers */
    color: black;
}

.text-glow-heading {
    text-shadow: 0 0 20px #49c2f1;
}

.text-glow-button {
    color: #def6ff;
    text-shadow: 0 0 0px #def6ff;
    transition: text-shadow 0.5s ease;
}

.text-glow-button:hover {
    text-shadow: 0 0 8px #def6ff;
}

.noise-bg {
    background:
        linear-gradient(to right, transparent, transparent),
        url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 0.5;
}

.about-page .swiper-wrapper {
    height: 100%;
    width: 100%;
}

.about-page .swiper-pagination-bullet {
    background-color: #bceb21;
    mix-blend-mode: difference;
    opacity: 0.4;
}
.about-page .swiper-pagination-bullet-active {
    background-color: #aad422;
    mix-blend-mode: difference;
    opacity: 1;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

::view-transition-old(.content) {
    animation-name: fade-out;
}

::view-transition-new(.content) {
    animation-name: fade-in;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes rotateY {
    from {
        transform: perspective(240px) rotateY(0deg);
    }

    to {
        transform: perspective(240px) rotateY(360deg);
    }
}

.animate-rotate-y {
    animation: rotateY 5000ms linear infinite;
}

.text-outline {
    color: black;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}
