@import "tailwindcss";
@import "./tailwindConfig.css";

@font-face {
    font-display: swap;
    font-family: "Robocode";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/robocode-font/Robocode.ttf);
}

@font-face {
    font-display: swap;
    font-family: "Second Space";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/second-space-font/SecondSpace.ttf);
}

@font-face {
    font-display: swap;
    font-family: "Brass Mono";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/brass-mono-font/BrassMonoRegular.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        monospace,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    color: #eeeeee;
    filter: blur(0.018rem);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}

::selection {
    background: #bceb21; /* WebKit/Blink Browsers */
    color: black;
}
::-moz-selection {
    background: #bceb21; /* Gecko Browsers */
    color: black;
}

.text-glow-heading {
    text-shadow: 0 0 20px #49c2f1;
}

.text-glow-button {
    color: #def6ff;
    text-shadow: 0 0 0px #def6ff;
    transition: text-shadow 0.5s ease;
}

.text-glow-button:hover {
    text-shadow: 0 0 8px #def6ff;
}

.noise-bg {
    background:
        linear-gradient(to right, transparent, transparent),
        url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 0.5;
}

.about-page .swiper-wrapper {
    height: 100%;
    width: 100%;
}

.about-page .swiper-pagination-bullet {
    background-color: #bceb21;
    mix-blend-mode: difference;
    opacity: 0.4;
}
.about-page .swiper-pagination-bullet-active {
    background-color: #aad422;
    mix-blend-mode: difference;
    opacity: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hover-rotate {
    animation: rotate 50000ms linear infinite;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.hover-rotate:hover {
    animation-play-state: running;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

::view-transition-old(.content) {
    animation-name: fade-out;
}

::view-transition-new(.content) {
    animation-name: fade-in;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}
