@theme {
    --color-black: #0f0e15;
    --color-bg-blue: #191c23;
    --color-bg-blue-lighter: #363b45;
    --color-white: #eeeeee;
    --color-highlight: #1cafc4;
    --color-highlight-2: #98e659;
    --color-highlight-3: #d4de14;

    --font-title: Carbon, sans-serif;
    --font-main: Roboto;

    --text-xl: 48px;
    --text-lg: 32px;
    --text-md: 24px;
    --text-sm: 16px;
    --test-xs: 12px;
}
